* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.board {
  width: calc(64px * 8);
  height: calc (64px * 8);
  display: flex;
  flex-wrap: wrap;
  border: 2px solid rgb(12, 77, 63);
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 28px;
  height: 48px;
  position: relative;
}

.black {
  background-color: whitesmoke;
}

.white {
  background-color: rgb(38, 97, 25);
}

.selected {
  background-color: brown;
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: burlywood;
}

.lost{
  height: calc(50vh-60px);
  padding: 30px;
  margin-left: 50px;
  background-color: lightgray;
}